.quiz-main {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 11rem auto;
    grid-template-columns: 1fr 1fr;
    width: 100%;

    .question-frame {
        
        grid-column: 1 / 3;
        padding-bottom: 3rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .question {
            background-color: rgb(2, 23, 32);
            width: 100%;
            border: 3px solid white;
            padding: 1rem 3rem;
            display: inline-block;
            text-align: center;
            margin-bottom: 3rem;

            h1 {
                margin: 0;
            }
        }
    }

    .option {
        background-color: rgb(2, 23, 32);
        padding: 1rem 3rem;
        border: 3px solid white;
    }
}